*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    background-color: cornflowerblue;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card{
   height: 500px;
   width: 400px;
   background-color: #fff;
   border-radius: 10px;
   padding: 30px;
}
.card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.card h2{
    font-size: 30px;
    margin: 20px 0px 0px 0px;
}
.card h5{
    font-size: 25px;
    margin: 10px 0 0 0;
    color: red;
}
.card h3{
    margin-top: 10px;
}
.btn-container{
    
}
.btn-container button{
    width: 100%;
    padding: 15px;
   font-size: 20px;
    border-radius: 5px;
    margin-top: 35px;
    cursor: pointer;
    background-color:cadetblue;
    font-weight: 500;
    
    
    
}
